[submodule "CS50-Havard-2018"]
	path = CS50-Havard-2018
	url = https://github.com/XinheLIU/CS50-Havard-2018
[submodule "Software-Design-and-Architecture-UniversityofAlberta"]
	path = Software-Design-and-Architecture-UniversityofAlberta
	url = https://github.com/XinheLIU/Software-Design-and-Architecture-UniversityofAlberta
[submodule "Python-Courses"]
	path = Python-Courses
	url = https://github.com/XinheLIU/Python-Courses
[submodule "SoftwareDesignAndAlgorithm_PekingUniversity"]
	path = SoftwareDesignAndAlgorithm_PekingUniversity
	url = https://github.com/XinheLIU/SoftwareDesignAndAlgorithm_PekingUniversity
[submodule "MachineLearning_StanfordUniversity"]
	path = MachineLearning_StanfordUniversity
	url = https://github.com/XinheLIU/MachineLearning_StanfordUniversity
[submodule "DeepLearning_Cousera"]
	path = DeepLearning_Cousera
	url = https://github.com/XinheLIU/DeepLearning_Cousera
[submodule "AdvancedMachineLearning_NationalResearchUniversityHigherSchoolofEconomics"]
	path = AdvancedMachineLearning_NationalResearchUniversityHigherSchoolofEconomics
	url = https://github.com/XinheLIU/AdvancedMachineLearning_NationalResearchUniversityHigherSchoolofEconomics
